!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title Pivotal2trelloRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'users/menu/login_items'
    = render 'users/menu/registration_items'
    = yield
